*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    --primaryColor : #3A3845;
}
.header
{
    padding: 21.84px 0;
}
.container
{
    width: calc( 100% - 330px );
    margin: 0 auto;
}
.row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu
{
    display: none;
}
.list ul
{
    display: flex;
    gap: 60px;
    list-style-type: none;
}
.list ul a
{
    text-decoration: none;
    color: var(--primaryColor);
    font-size: 14px;
    font-family: "Inter", sans-serif;
}
.icons ul
{
    display: flex;
    gap: 24px;
    list-style-type: none;
}

/*Tablet*/
@media screen and (min-width: 744px) {
    .icons
    {
        display: none;
    }
    .list
    {
        display: none;
    }
    .menu
    {
        display: flex;
    }
}
@media screen and (min-width: 1440px) {
    .icons
    {
        display: none;
    }
    .list
    {
        display: none;
    }
    .menu
    {
        display: flex;
    }
}
@media screen and (min-width: 834px) {
    .icons
    {
        display: none;
    }
    .list
    {
        display: none;
    }
    .menu
    {
        display: flex;
    }
}
@media screen and (min-width: 1024px) {
    .icons
    {
        display: none;
    }
    .list
    {
        display: none;
    }
    .menu
    {
        display: flex;
    }
}
@media screen and (min-width: 1280px) {
    .icons
    {
        display: none;
    }
    .list
    {
        display: none;
    }
    .menu
    {
        display: flex;
    }
}
/*Desktop*/
@media screen and (min-width: 1280px) {
    .icons
    {
        display: none;
    }
    .list
    {
        display: none;
    }
    .menu
    {
        display: flex;
    }
}
@media screen and (min-width: 1512px) {
    .icons
    {
        display: none;
    }
    .list
    {
        display: none;
    }
    .menu
    {
        display: flex;
    }
}
@media screen and (min-width: 1728px) {
    .icons
    {
        display: none;
    }
    .list
    {
        display: none;
    }
    .menu
    {
        display: flex;
    }
}
@media screen and (min-width: 1440px) {
    .icons
    {
        display: none;
    }
    .list
    {
        display: none;
    }
    .menu
    {
        display: flex;
    }
}
@media screen and (min-width: 1280px) {
    .icons
    {
        display: none;
    }
    .list
    {
        display: none;
    }
    .menu
    {
        display: flex;
    }
}
.collection_section
{
    gap: 30px;
    padding-top:40px;
    padding-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: 600px;
    font-family: "Inter", sans-serif;
    color: var(--primaryColor);
}
.collection
{
    width: calc( (100% - 90px) / 4 );
}
img
{
    width: 100%;
}