* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --primaryColor: #3A3845;
}

body {
    font-family: var(--primaryColor);
}

.header {
    padding: 21.84px 0;
    position: fixed;
    width: 100%;
    background-color: white;
    height: 82px;
}

.header a:hover {
    color: #f7cdad;
}

.container {
    width: calc(100% - 330px);
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    display: none;
}

.list ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
}

.list ul a {
    text-decoration: none;
    color: var(--primaryColor);
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.icons ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

@media screen and (min-width: 0) and (max-width: 996px) {
    .icons {
        display: none;
    }

    .list {
        display: none;
    }

    .menu {
        display: flex;
    }

    .container {
        width: calc(100% - 30px);
        margin: 0 auto;
    }
}

.hero {
    background-image: url('./../img/hero/background_hero.png');
    background-size: cover;
    height: 100vh;
}

.hero-content {
    background-color: #826e65;
    height: 100vh;
    width: 620px;
    margin-left: 165px;
}

.hero-content {
    color: white;
    text-align: center;
    font-size: 24px;
}

.hero-content .img-hero {
    padding-top: 181px;
    margin: auto;
}

.hero-content p {
    padding-top: 42px;
}

.hero-content h2 {
    text-transform: capitalize;
    padding-top: 32px;
    padding-bottom: 42px;
    letter-spacing: 5px;
}

.hero-content .btn-hero {
    padding: 15px 71px;
    color: #826e65;
    font-weight: 600;
    font-size: 14x;
}

@media screen and (min-width: 0) and (max-width: 400px) {
    .hero-content {
        width: 420px;
        margin-left: 165px;
    }
}

@media screen and (min-width: 401px) and (max-width: 770px) {
    .hero-content {
        width: 420px;
        margin-left: 165px;
    }
}

@media screen and (min-width: 771px) and (max-width: 900px) {
    .hero-content {
        width: 420px;
        margin-left: 165px;
    }
}

.collection_section {
    padding-top: 80px;
    padding-bottom: 48px;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: var(--primaryColor);
}

.collection {
    width: calc((100% - 90px) / 4);
}

.collection_section img {
    width: 100%;
}

@media screen and (min-width: 0) and (max-width: 400px) {
    .collection {
        width: 100%;
    }

    .collection_section .row {
        flex-direction: column;
    }

    .container {
        width: calc(100% - 30px);
        margin: 0 auto;
    }
}

@media screen and (min-width: 401px) and (max-width: 770px) {
    .collection {
        width: calc((100% - 30px) / 2);
    }

    .container {
        width: calc(100% - 30px);
        margin: 0 auto;
    }
}

@media screen and (min-width: 771px) and (max-width: 900px) {
    .collection {
        width: calc((100% - 60px) / 3);
    }

    .container {
        width: calc(100% - 30px);
        margin: 0 auto;
    }
}

.Christmas_collection {
    font-family: "Inter", sans-serif;
}

.Christmas_collection .container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.img_Christmas_collection img {
    width: 100%;
}

.info_Christmas_collection {
    background-color: #F7F6F5;
    padding-left: 78px;
    padding-right: 78px;
}

.Christmas {
    width: 50%;
}

.Christmas_collection .info_Christmas_collection h2 {
    text-transform: uppercase;
    padding-top: 64px;
    padding-bottom: 24px;
    font-size: 28px;
    font-family: "EB Garamond", serif;
    letter-spacing: 4%;
    font-weight: 100;
}

.Christmas_collection .info_Christmas_collection p {
    color: #585566;
    padding-bottom: 32px;
    font-size: 16px;
}

.Christmas_collection .info_Christmas_collection a {
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
}

@media screen and (min-width: 0) and (max-width: 400px) {
    .Christmas {
        width: 100%;
    }
}

@media screen and (min-width: 401px) and (max-width: 770px) {
    .Christmas {
        width: 100%;
    }
}

.best_sellers_section {
    text-align: center;
    padding: 80px 0;
}

.best_sellers_section .sellers_container {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.best_sellers_section .item {
    text-align: left;
}

.best_sellers_section h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 48px;
}

.best_sellers_section .item-content {
    margin-top: 24px;
}

.best_sellers_section img {
    width: 100%;
}

.best_sellers_section h3 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: var(--primaryColor);
}

.best_sellers_section .price {
    font-size: 16px;
    font-weight: 500;
}

.best_sellers_section .description {
    color: #807F86;
    width: 80%;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 34px;
}

.best_sellers_section .add_to_cart {
    padding: 15px 81px;
    background-color: #ffffff;
    border: 1px solid #000000;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}

.item:hover .add_to_cart {
    background-color: #f7cdad;
}

.craft_section .container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.craft_section .container .item {
    width: 50%;
    height: 348px;
}

.craft_section .container img {
    width: 100%;
}

.craft_section .container .Our_History_info {
    background-color: #F7F6F5;
    padding-left: 78px;
    padding-right: 78px;
}

.craft_section .container .Made_in_viet_Nam_info {
    background-color: #F7F6F5;
    padding-left: 78px;
    padding-right: 78px;
}
.craft_section .container h2{
    text-transform: uppercase;
    padding-top: 64px;
    padding-bottom: 24px;
    font-size: 28px;
    font-family: "EB Garamond", serif;
    letter-spacing: 4%;
    font-weight: 100;
}
.craft_section .container p {
    color: #585566;
    padding-bottom: 32px;
    font-size: 16px;
}

.craft_section .container a {
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
}
.craft_section .container img
{
    width: 100%;
}
@media screen and (min-width: 0) and (max-width: 400px) {
    .craft_section .container .item  {
        width: 100%;
    }
}

@media screen and (min-width: 401px) and (max-width: 770px) {
    .craft_section .container .item  {
        width: 100%;
    }
}